<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body style="background-color: rgb(247, 244, 244);">
    <%- include('./partials/nav.ejs') %>
    <div class="content">
      <h1>Market Capacity</h1>
      <% for (let i = 0; i < capacities.length; i++) { %>
        <div style="background-color: rgb(179, 167, 167); margin-bottom: 10px;">
          <h4><%= capacities[i].name %>:</h4>
          <p>Market Capacity of <%= capacities[i].name %> is: <%= capacities[i].cap %> USD</p>
        </div>
      <% } %> 
    <%- include('./partials/footer.ejs') %>
  </body>
</html>

